html, body {
  font-family: 'League Spartan', sans-serif;
}

[v-cloak] {
  display: none;
}

main {
  padding-bottom: 4rem;
}

#trending {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.trending-coin:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,.125);
}

.trending-coin-image {
  height: 20px;
  width: 20px;
  margin-top: -0.2rem;
}

.trending-badge {
  margin-top: -0.3rem;
}

.coin-image {
  height: 35px;
  width: 35px;
  margin-top: -0.2rem;
}
